.course-wrapper{
    width: 100%;
    height: 80vh;
    overflow: auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 20px;
    flex-wrap: wrap;
    /* justify-content: ; */
}


.course-box{
    
    width: 23%;
    height: 25vh;
    background-color: #eee;
    overflow: hidden;
    cursor: pointer;
    margin-bottom: 20px;
    
    border-radius: 10px;
}
.course-box:hover{
    box-shadow: 2px 2px 5px;
    transition: 0.5s;

}
.course-thumbnail
{
    width: 100%;
    height: 17vh;
    

}
.course-tittle{
    font-size: 16px;
    text-transform: capitalize;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 0;
    font-weight: bolder;
    
    
    
}


.course-price{
   
    font-size: 14px;
     text-align: center;
    
}
.course-box:hover{
    box-shadow: 1px 1px 10px black;
    transition: 0.5s;
}


/*------------------- course-detail-wrapper */
.course-detail-main-wrapper{
    background-color: #eee;
    height: 80vh;
    padding: 10px;
    margin: 10px;
    
    /* overflow-y:auto; */
}
.course-detail-wrapper{
    display: flex;
    flex-direction: row;
    gap: 5%;
    text-transform: capitalize;
    
    
    
}
.course-detail-wrapper img{
    border-radius: 5px;
     width: 32%;
    height: 30vh;
} 
.course-detail p{
    font-weight: 300;
    font-size: 15px; 
 }
.studentlist-container{
    width: 100%;
    height: 44vh;
    border-radius: 10px;
   
    overflow-y: scroll;
    background-color: white;

}
.course-description-container{
    height: 20vh;
    width: 100%;
    overflow: auto;
    

}
.course-description-box{
    padding-left: 200px
}
.btn-container{
    display: flex;
    gap: 10px ;
}
table{
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
}
.student-profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-shadow: 5px 5px 10px;
}
th,td{
    text-align: left;
    padding: 5px;
}
tr{
    padding: 10px;
}
tr:hover{
    background-color: #7033ff;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}
.primary-btn{
    background-color: #7033ff;
    color: white;
    padding: 5px;
    border-radius: 5px;
    /* cursor: pointer; */
    border-radius: 5px;
}
.primary-btn:hover{
    background-color: #20026a;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    
    
}
.secondary-btn{
    background-color: #f65164;
    color: white;
    padding: 5px;
    border-radius: 5px;
    /* cursor: pointer; */

}
.secondary-btn:hover{
    background-color: #b30000;
    cursor: pointer;
    color: white;
    transition: 0.5s;
}